*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
ul {
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
html,
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: #49494F;
    background: #fff;
}
.container{
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 10px;
}
.page{
    flex: 1 1 auto;
}

/* HEADER---------------- */
.header{
    padding: 10px 0;
}
.header__container{
    display: flex;
    align-items: center;
}
.form__search{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search__input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 60px 13px 20px;
}
.search__btn{
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}
.auth{
    margin-left: auto;
}
.login{
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    font-weight: 400;
    line-height: 114%;
    color: #000000;
}
.login:hover{
    background: #c4c2c2;
}
.cart{
    width: 49px;
    height: 49px;
    background: #F66A15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
.cart__counter{
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 5px;
    background: #FFAF19;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    position: absolute;
    right: 0;
    bottom: -6px;
}


/* SLIDER------------------------ */
.slide {
    border-radius: 20px;
    overflow: hidden;
    color: #FFFFFF;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 76px 100px;
    position: relative;
}
.slide:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}
.slide-text-light{
    background: grey;
    color: #fff;
}
.slide__summer{
    background-image: url("../images/slider-summer.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.slide__vitamins{
    background-image: url("../images/slider-vitamins.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide__autumn{
    background-image: url("../images/slider-autumn.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide__content{
    max-width: 400px;
    position: relative;
}
.slide__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 102%;
    margin-bottom: 15px;
}
.slide__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 144%;
    margin-bottom: 32px;
}
.slider__btn {
    display: inline-block;
    background: #F47322;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 164%;
    padding: 12px 52px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}
.slider__btn:hover{
    border: 1px solid #F47322;
    background: transparent;
    color: #F47322;
}
.swiper{
    position: relative;
}
.slider__buttons{
    position: absolute;
    right: 46px;
    bottom: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
.slider__button{
    cursor: pointer;
}
/* PROMO------------------ */
.promo {
    padding: 50px 0;
}
.promo__inner {
    display: flex;
    justify-content: space-between;
    margin: -27px;
}
.promo__item {
    width: 50%;
    max-width: 570px;
    margin: 27px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 36px 32px 31px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.promo__item::before{
    z-index: -1;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.promo-one{
    background-image: url("../images/promo-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-two{
    background-image: url("../images/promo-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.promo__title{
    margin-bottom: 21px;
}
.promo__title,
.promo__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 96%;
}
.promo__text{
    max-width: 168px;
}
.promo__text,
.promo__delivery {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
}
.promo__price {
    margin-bottom: 8px;
    display: block;
}
.promo__delivery {
    display: block;
    margin-bottom: 25px;
}
.promo__btn {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 13px 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 144%;
    color: #5F5F61;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
}
.blue:hover{
    color:#fff;
    background: #025775;
    border: 1px solid #fff;
}
.brown:hover{
    color:#fff;
    background: #754c2f;
    border: 1px solid #fff;
}

/*DELIVERY--------------------  */
.delivery-week {
    padding: 100px 0;
}
.delivery__container{
    max-width: 1196px;
    margin: 0 auto;
}
.delivery-week__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 155%;
    color: #000000;
    margin-bottom: 47px;
}
.delivery-week__cards {
    display: flex;
    flex-wrap: wrap;
    margin:0px -11.5px;
}
.delivery-week__card {
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 30px;
    margin: 0px 11.5px 30px;
}
.delivery-week__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery__tag {
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    padding: 5px 10px;
}
.tag--health{
    background: #D0FD89;
}
.tag--vegtables{
    background: #AEBC41;
}
.tag--meat{
    background: #B86B78;
}
.tag--poultry{
    background: #D68334;
}
.tag--fish{
    background: #CD6255;
}
.tag--baby{
    background: #FFFDBF;
}
.tag--parents{
    background: #F6FDC8;
}
.tag--festive{
    background: #FEF7FE;
}

/*CATEGORY----------------  */
.category{
    padding: 40px 0 60px;
    background: #e5e5e5;
}
.container {
    max-width: 1191px;
    margin: 0 auto;
}
.category__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 72%;
    color: #000000;
}
.tabs {
    padding: 50px 0 62px;
    display: flex;
}
.tabs__link{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #49494F;
    margin-right: 58px;
}
.tabs__link.active {
    color: #F37321;
}
.tabs__content {
    display: flex;
    margin: -18.5px;
}
.tabs__card {
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    margin: 18.5px;
}
.tabs__body{
    padding: 23px;
}
.tabs__img {
    max-width: 100%;
}
.tabs__title {
    font-size: 20px;
    line-height: 115%;
    color: #000000;
    margin-bottom: 13px;
}
.tabs__text {
    line-height: 164%;
    color: #B9B9BE;
}
.tabs__info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 36px;
}
.tabs__price {
    display: block;
    font-size: 23px;
    line-height: 100%;
    color: #4B4B51;
    margin-bottom: 5px;
}
.tabs__waight {
    font-size: 17px;
    line-height: 117%;
    color: #AAAAB1;
}
.tabs__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    color: #F37321;
    background: #fff;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    border: 2px solid #F37321;
    border-radius: 33px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.tabs__btn:hover{
    background: #F37321;
    color: #fff;
}
.tabs-more__btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    color: #F37321;
    padding: 16px 105px;
    border: 2px solid #F37321;
    border-radius: 33px;
    display: block;
    margin: 62px auto 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
 .tabs-more__btn:hover{
    background: #F37321;
    color: #fff;
}

/* BENEFITS-------------- */
.benefits {
    padding: 100px 0 200px;
}
.benefits__container {
    max-width: 1191px;
    margin: 0 auto;
}
.benefits__title {
    font-size: 32px;
    line-height: 72%;
    color: #000000;
    margin-bottom: 52px;
}
.benefits__items{
    display: flex;
    margin: 0px -30px;
}
.benefits__item {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 30px 23px 25px;
    max-width: 270px;
    overflow: hidden;
    text-align: center;
    margin: 0px 30px;
}
.benefits__icon {
    margin-bottom: 36px;
}
.benefits__titile-name {
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    color: #000000;
    margin-bottom: 13px;
}
.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #49494F;
}

/* FOOTER----------------- */
.footer{
    background: #F6F6F6;
    padding: 40px 0;
}
.footer__logo{
    margin-right: 50px;
}
.footer__inner{
    display: flex;
    align-items: center;
}
.footer__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: #000000;
    margin-right: 50px;
}
.social__links{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.social__link{
    margin-left: 20px;
}

/* MEDIA-------------------------------------------- */
@media (max-width: 1170px) {
    .form__search{
        margin-left: 40px;
        margin-right: 40px;
    }
    .tabs__content {
        flex-wrap: wrap;
    }
    .tabs__card{
        width: 50%;
        max-width: calc(50% - 37px);
    }
    .benefits__items {
        flex-wrap: wrap;
    }
    .benefits__item {
        width: 50%;
        max-width: calc(50% - 60px);
        margin-bottom: 30px;
    }

@media (max-width: 890px) {
    .delivery-week__card{
        width: 50%;
        max-width: calc(50% - 23px);
    }
}

@media (max-width: 800px) {
    .slide {
        padding: 40px 50px;
    }
    .footer__inner{
        flex-direction: column;
    }
    .social__links {
        margin-left: 0;
    }
    .social__link:nth-child(1){
        margin-left: 0px;
    }
    .footer__logo{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer__link{
        margin-bottom: 20px;
    }
    .footer__link:nth-child(2){
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .form__search{
        margin-left: 0px;
        margin-right: 10px;
    }
    .slide__title {
        font-size: 45px;
    }
    .promo__inner{
        flex-wrap: wrap;
        margin: 0 0 -30px 0;
    }
    .promo__item{
        width: 100%;
        max-width: 100%;
        margin: 0 0 30px 0;
    }
    .delivery-week,
    .promo {
        padding: 30px 0;
    }
    .benefits {
        padding: 50px 0 50px;
    }
}

@media (max-width: 630px) {
    .header__container{
        flex-wrap: wrap;
    }
    .logo{
        margin-bottom: 5px;
    }
    .form__search{
        width: 100%;
        margin-bottom: 10px;
    }
    .slide__content{
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .tabs__card{
        width: 100%;
        max-width: 100%;
    }
    .tabs {
        flex-wrap: wrap;
    }
    .tabs__link{
        margin-right: 25px;
        margin-bottom: 10px;
    }
    .benefits__item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .slider__buttons{
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 90px;
    }
}

@media (max-width: 500px) {
    .slide__title {
        font-size: 40px;
    }
    .slide__text {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .slider__btn {
        font-size: 12px;
        padding: 12px 35px;
    }
    .delivery-week__card{
        width: 100%;
        max-width: 100%;
    }
    .delivery-week__title {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .category {
        padding: 40px 0 40px;
    }
    .category__title,
    .benefits__title {
        font-size: 25px;
    }
    .tabs {
        padding: 30px 0 32px;
    }
    .benefits__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .slide__title {
        font-size: 30px;
    }
    .slide__text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .slider__btn {
        font-size: 12px;
        padding: 12px 35px;
    }
}

@media (max-width: 340px) {
    .tabs-more__btn {
        font-size: 13px;
        margin: 40px auto 0;
    }
    .footer__nav{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer__link{
        margin-right: 0px;
        display: block;
        margin: 5px auto;
    }
}
